
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
  display: flex;
}
/* link-item style */
.link-item{
  list-style: none;
  margin-right: 30px;
  
}
.link-link{
  text-decoration: none;
}

.navber{
  justify-content: space-between;
}
/* hader color */
.bg-light{
  background-color:antiquewhite;
}
.navber{
  max-width:1400px;
  margin: 0 auto;
}