
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
  display: flex;
}
/* link-item style */
.link-item{
  list-style: none;
  margin-right: 30px;
  
}
.link-link{
  text-decoration: none;
}

.navber{
  justify-content: space-between;
  align-items: center;
}
/* hader color */
.bg-light{
  background-color:antiquewhite;
}
.navber{
  max-width:1400px;
  margin: 0 auto;
} 
.brand{
  font-weight: 700;
  font-size: 45px;
}
.banar-conten{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
margin-bottom: 50px;
}
.banar-hading title{
  font-weight: 700;
  font-size: 4rem;
}
.button{
  background-color: rgba(255, 144, 14, 1);
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;

}
.text-primary{
  color: orangered;
  font-weight: 700;
  font-size: 45px ;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
.banar-img{
  width: 100%;
}
.teams {
  align-items: center;
}
.team-img-contenar{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-featurese{
  margin-left: 130px;
  max-width: 530px;

}

.teams{
  margin:50px 130px;
}
.text{
  color:#727272;
  font-weight: 400;
  font-size: 45px;
  
}
.text-our{
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
@media screen and (max-width: 576px){
  .nav-links, .navber,.teams  {
    flex-direction: column;

  }
  .team-img-contenar{
     grid-template-columns: repeat(1, 1fr);
  }
.our-featurese{
  margin-left: 0;
}
  
}
/* medium device style */
@media screen and (min-width:576px) and (max-width:992px){
  .teams{
    flex-direction: column;
  }
    .our-featurese{
    margin-left: 0;
  }
}